<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>footer</title>
	<link href="CSS/footer.css" rel="stylesheet" />
</head>

<body>
	<div class="site-body">
		<div class="content-wrapper">
		</div>
	</div>
	<footer>
		<div class="footer-light">
			<div class="footer-wrapper">
				<div class="footer-up"><a href="#"><span></span></a></div>
				<div class="footer-cols-3">
					<div class="contacts">
						<div>Contact Us:</div>
						<a class="phone" href="tel:1300-135-588">Call us 1300-135-588</a>
						<a class="email" href="mailto:someone@example.com?Subject=Hello" target="_top">Email Us</a>
					</div>
					
					<ul class="social">
						<li><a class="facebook" href="#"><span></span></a></li>
						<li><a class="twitter" href="#"><span></span></a></li>
						<li><a class="instagram" href="#"><span></span></a></li>
						<li><a class="pintrest" href="#"><span></span></a></li>
						<li><a class="youtube" href="#"><span></span></a></li>
						<li><a class="blog" href="#"><span></span></a></li>
						<li><a class="app" href="#"><span></span></a></li>
					</ul>
					<div class="join">
						<div>Don’t miss out</div>
						<div class="small">Get the latest news, offers & ideas</div>
						<div class="join-mail">
							<input placeholder="email address" type="text">
							<button>JOIN</button>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="footer-dark">
			<div class="footer-wrapper">
				<div class="footer-cols-4">
					<ul>
						<li><h2>Shop Online</h2></li>
						<li><a href="#">Ways to shop with us</a></li>
						<li><a href="#">Shipping & returns</a></li>
						<li><a href="#">Interest Free Finance</a></li>
						<li><a href="#">Get Inspired</a></li>
						<li><a href="#">Your Account</a></li>
					</ul>
					<ul>
						<li><h2>Freedom</h2></li>
						<li><a href="#">The Freedom Story</a></li>
						<li><a href="#">Latest Catalogue</a></li>
						<li><a href="#">Careers at Freedom</a></li>
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
					<ul>
						<li><h2>Need Assistance?</h2></li>
						<li><a href="#">Freedom > help</a></li>
						<li><a href="#">Assembly instructions</a></li>
						<li><a href="#">Product care</a></li>
						<li><a href="#">Product recalls</a></li>
						<li><a href="#">Sitemap</a></li>
					</ul>
					<ul class="col4">
						<li><h2>&nbsp;</h2></li>
						<li><a href="#">Login&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Join</a></li>
						<li class="story">Packed with useful year-round rewards, MyFreedom is a special club devoted to you and your home. Refresh your space...</li>
						<li><a href="#">Find out more...</a></li>
					</ul>
				</div>
				<div class="footer-payments">
					<div class="ge">Get Interest free offers with GE Finance:</div>
					<div class="payments">We accept:</div>
					<div class="norton">Shop securely with:</div>
				</div>
				<div class="footer-brands-copyright">
					<span>Group Brands:</span><span class="brands">Bay Leather Republic, Snooze, Poco.<span>
					<span class="copyright">All content © Copyright. All Rights Reserved.<span>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>