<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>freedom</title>
	
	<link href="CSS/left_nav.css" rel="stylesheet" />
</head>

<body>
	<div class="site-body">
		<div class="content-wrapper">
			<div class="breadcrumbs">
				<a href="#">Home</a>
				<span class="breadcrumb-arrow">></span>
				<a href="#">Furniture</a>
				<span class="breadcrumb-arrow">></span>
				<span class="breadcrumb-end">Living</span>
			</div>
			
			<div class="left-nav">
				<ul>
					<li class="left-nav-head">LIVING</li>
					<li><a href="#">Sofas</a></a></li>
					<li><a href="#">Sofa Beds</a></li>
					<li><a href="#">Modulars</a></li>
					<li><a href="#">Armchairs</a></li>
					<li><a href="#">Ottomans</a></li>
					<li><a href="#">Entertainment Units</a></li>
					<li><a href="#">Bookcases</a></li>
					<li><a href="#">Wall Units</a></li>
					<li><a href="#">Side Tables</a></li>
					<li><a href="#">Coffee Tables</a></li>
					<li><a href="#">Console Tables</a></li>
					<li><a href="#">Occasional Chairs</a></li>
					<li><a href="#">Mirrors</a></li>
					<li class="left-nav-section-header"><a href="#">ENTRYWAY</a></li>
					<li class="left-nav-section-header"><a href="#">DINING</a></li>
					<li class="left-nav-section-header"><a href="#">OFFICE</a></li>
					<li class="left-nav-section-header"><a href="#">BEDROOM</a></li>
					<li class="left-nav-section-header"><a href="#">OUTDOOR</a></li>
					<li class="left-nav-section-header"><a href="#">MORE</a></li>
					<li><a href="#">New Arrivals</a></li>
					<li><a href="#">Sale</a></li>
					<li><a href="#">Custom Chair Gallery</a></li>
					<li><a href="#">Gift Card</a></li>
					<li><a href="#">MyFreedom</a></li>
					<li><a href="#">Furniture Care Products</a></li>
					<li class="left-nav-section-header"><a href="#">INSPIRATION</a></li>
					<li><a href="#">Christmas Entertaining</a></li>
					<li><a href="#">How to pick your sofa</a></li>
					<li><a href="#">Shop the look</a></li>
					<li><a href="#">New summer catalogue</a></li>
				</ul>
			</div>
			
		</div>
		
	
	</div>
</body>
</html>